.App {
  text-align: center;
}

img {
  height: 20rem;
  width: 20rem;
}

.Detail {
  height: auto;
  width: 25rem;
  border: 1px solid black;
  margin: 2rem 1.5rem;
  padding: 0.5rem;
}

.productContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}